@media all and (min-width: 900px){

    .contenedor {  
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2%;
        margin: 0% 10% 10% 10%;
        grid-auto-flow: row;
        grid-template-areas:
          "profile data";

    }

    .menu {
        font-size: 1.2rem;
        width: 100%;
        display: flex; 
        flex-direction: row;
        justify-content:flex-start;
        column-gap: 2%;
        padding: 3%;
        align-content: center;
    }

    .footer {
        padding: 1% 2% 1% 2%;
        font-size: 0.9rem;
        display: flex; 
        flex-direction: row;
    }

    .logo2 {
        height: 6rem;
    }

    button {
    width: 200px;
    }
}

@media only screen and (min-width: 700px) and (max-width:900px) {
    .contenedor {  
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2%;
        margin: 0% 5% 10% 5%;
        grid-auto-flow: row;
        grid-template-areas:
          "profile data";
    }

    .menu {
        font-size: 1.2rem;
        width: 100%;
        display: flex; 
        flex-direction: row;
        justify-content:flex-start;
        column-gap: 2%;
        padding: 3%;
        align-content: center;
    }

    .footer {
        padding: 1% 2% 1% 2%;
        font-size: 0.8rem;
        display: flex; 
        flex-direction: row;
    }

    .logo2 {
        height: 6rem;
    }

    button {
        width: 15vw;
        }
}

@media only screen and (max-width: 700px) {
    .contenedor{
         display: grid;
         grid-template-columns: 0.7fr;
         padding: 0% 5% 5% 5%;
         grid-template-areas:
             "profile"
             "data"
             "data";
         gap: 2% 
    }

    .menu {
        z-index: 200;
        font-size: 1rem;
        width: 100%;
        display: grid; 
        text-align: right;
        padding: 5%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "logo ringu"
        "logo perfil"
        "logo contacto"
        "logo registro";
        position: fixed;
        background-color: #ebecf0;
    }

    .contlogo {
        grid-area: logo;
        text-align: left;
    }

    .ringu { 
        grid-area: ringu; 
    }
      
    .perfil { 
        grid-area: perfil; 
    }
    
    .contacto { 
        grid-area: contacto; 
    }

    .registro { 
        grid-area: registro; 
    }

    .contlogofooter {
        grid-area: contlogofooter; 
        height: 1 vw;
        padding-top: 10%;
        padding-bottom: 5%;
    }

    #nos {
        grid-area: nos; 
    }

    #phone {
        grid-area: phone; 
    }

    #email {
        grid-area: email; 
    }
    
    .footer {
        margin-top: 50px;
        display: grid;
        padding: 1% 2% 1% 2%;
        font-size: 0.8rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "contlogofooter nos"
        "phone email";
    }

    .logo2 {
        height: 5rem;
    }

    button {
        width: 200px;
        }

    .profile {
        margin-top: 200px;
    }
}

 
* {
    box-sizing: border-box;
    color:#36474f
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background-color: #ebecf0;
}

a {
    font-weight: 500;
    text-decoration: none;
}

i {
    height: 1rem;
    margin-right: 10%;
}

.contlogo {
    flex-grow:1;
}

.logo {
    height: 5rem; 
    grid-area: logo;
}

.logo:hover {
    transform: scale(1.5);
    animation: ease-in;
}

a:not(:first-child):hover {
    transform: scale(1.2);
    color: #6da3c2;
    animation: ease-in;
  }

.profile { 
    grid-area: profile; 
    justify-content: center;
    align-content: center;
}

.data { 
    grid-area: data; 
    justify-content: center;
    align-content: center;
}

input {
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid #6da3c2;
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 30px;
}

.footer {
    width: 100%;
    justify-content: space-between;
    align-content: center;
    background-color: #d7d8d9;
    flex-grow: 1;
    padding: 1% 2% 1% 2%;
    gap: 5%
}

.contlogofooter {
    display: flex;
}

.logo2 {
    margin: auto;
    display: block;
}

button {
    align-self: center;
    border-radius: 10px;
    background-color: #6da3c2;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1rem;
    padding: 10px;
    cursor: pointer;
  }

.fa-pencil {
    color: #6da3c2;
    font-size: 0.8rem;
}

iframe {
    border-radius: 10px;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input:focus {
	border: 3px solid #6da3c2;
	outline: none;
	box-shadow: 3px 0px 30px rgba(107, 162, 196, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-top: -25px;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 45px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
    align-self: center;
	display: none;
}

.error {
    color: #bb2929;
    align-self: center;
}

.fa-exclamation-triangle {
    color: #bb2929;
    margin-right: 5px;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
    align-self: flex-end;
    border-radius: 10px;
    background-color: #6da3c2;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1rem;
    padding: 10px;
    cursor: pointer;
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

